#topbar
{
	background-color:black;
	height:10px;
	width:100%;
	color:red;
}
body
{
	background-color:white;
}
#container
{
	width:80%;
	margin:0px auto;
}
#header
{
	height:65px;
	background-color:white;
}
#header img
{
	height:60px;
}
#header ul
{
	float:right;
	margin-top:25px;
}
#header ul li
{
	display:inline;
	margin-right:10px;
}
#header ul li a
{
	color:black;
}
#banner img
{
	width:100%;
	padding-bottom:20px;
}
#content1
{
	height:300px;
	width:30%;
	background-color:orange;
	float:left;
	margin-right:5%;
}
#content2
{
	height:300px;
	width:30%;
	background-color:red;
	float:left;
}
#content3
{
	height:300px;
	width:30%;
	background-color:green;
	float:right;
}
.heading
{
	color:white;
	margin-left:20px;
	font-size:25px;
}
.para1
{
	color:white;
	margin-left:20px;
	margin-right:8px;
}
.more
{
	text-decoration:none;
	color:black;
	background-color:white;
	padding:8px;
	margin-left:20px;
}
#bottom1
{
	width:60%;
	margin-top:15px;
	float:left;
}
#bottom2
{
	width:40%;
	margin-top:15px;
	float:right;

}
#bottom1 h2
{
	color:black;
	margi-left:20px;
}
#bottom1 p
{
	color:black;
	margin-left:20px;
	margin-right:10px;
}
#bottom1 a 
{
	margin-left:20px;
	color:orange;
}
#bottom2 h2
{
	color:black;
	margi-left:20px;
}
#bottom2 a 
{
	margin-left:20px;
	color:orange;
}
#footer
{
	width:100%;
	height:50px;
	background-color:black;
	clear:both;

}
#footer ul
{
	float:left;
	margin-top:15px;
	margin-right:20px;
}
#footer ul li
{
	display:inline;
	margin-right:10px;
}
#footer ul li a
{
	color:white;
	text-decoration:none;
	font-size:15px;
}
#footer p
{
	color:white;
	float:right;
	margin-right:20px;
	font-size:15px;
}